@model MagicVilla_Web.Models.VM.VillaNumberDeleteVM

<form asp-action="DeleteVillaNumber">
    <br />
    <div class="container border p-3">
        <h2 class="text-primary">Delete Villa Number</h2>
        <hr />
        <input hidden asp-for="VillaNumber.VillaNo">
        <div class="row">
            <div class="col-2">
                <label asp-for="VillaNumber.VillaNo" class="col-form-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10">
                <input asp-for="VillaNumber.VillaNo" readonly="" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label asp-for="VillaNumber.VillaID" class="col-form-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10">
                <select asp-for="VillaNumber.VillaID" disabled="" class="form-select" asp-items="@Model.VillaList">
                    <option disabled selected>-- Select villa --</option>
                </select>
            </div>
            <div class="col-2">
                <label asp-for="VillaNumber.SpecialDetails" class="col-form-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10">
                <textarea asp-for="VillaNumber.SpecialDetails" readonly="" class="form-control"></textarea>
            </div>
            <div class="col-5 offset-2">
                <a asp-action="IndexVillaNumber" asp-controller="VillaNumber" class="btn-primary btn form-control">Back to list</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Delete" class="btn btn-danger form-control" />
            </div>
        </div>
    </div>
</form>