@model MagicVilla_Web.Models.Dto.VillaNumberUpdateDto

<form asp-action="UpdateVillaNumber">
    <br />
    <div class="container">
        <h2 class="text-primary">Update Villa Number</h2>
        <hr />
        <input hidden asp-for="VillaNo"></input>
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="VillaNo" class="col-form-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10">
                <input asp-for="VillaNo" class="form-control" />
                <span asp-validation-for="VillaNo" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="SpecialDetails" class="col-form-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10">
                <textarea asp-for="SpecialDetails" class="form-control"></textarea>
                <span asp-validation-for="SpecialDetails" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="VillaID" class="col-form-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10">
                <input asp-for="VillaID" class="form-control" />
                <span asp-validation-for="VillaID" class="text-danger"></span>
            </div>
            <div class="col-5 offset-2">
                <a asp-action="IndexVillaNumber" asp-controller="VillaNumber" class="btn-primary btn form-control"> Back to list</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Update" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}